h1 {
  color: white;
  text-align: center;
  font-family: fantasy;
  text-shadow: 4px 4px 5px black;
  font-size: 30px;
}

p {
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  border-left: 6px solid #47313C;
  border-right: 6px solid #47313C;
  border-radius: 10%;
  background-color: white;
}

body {
  background-image: linear-gradient(to right top, #FFE3F1,#BBA5B0, #54424B);
}

img {
  width: 170px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}




