h1 {
  color: white;
  text-align: center;
  font-family: fantasy;
  text-shadow: 4px 4px 5px black;
  font-size: 30px;
}

h2 {
	  text-align: center;
		font-size:30px;
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right, #FFE3F1 10%, #BBA5B0 50%, #54424B 60%);
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
    margin-left: 100px;
    margin-top: 70px;
	}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

body {
  background-image: linear-gradient(to right, #FFE3F1,#BBA5B0, #54424B);
  margin-top: 220px; 
}